@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --font-changa:  */
  --primary: #006bbd;
  --secondary: #00bd6e;
  --red: #ec4b42;
  --black100: #021422;
  --custom-lexend: "Lexend", sans-serif;
}

@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css?family=Lexend"); /* Replace 'path-to-your-font' with the actual path to your font files */
}

@layer components {
  .text-gradient {
    @apply bg-gradient-to-r from-primary  to-secondary bg-clip-text  text-transparent;
  }

  .bg-gradient {
    @apply bg-gradient-to-r from-primary  to-secondary;
  }

  .custom-epilogue {
    font-family: "Epilogue", sans-serif;
  }

  .custom-lexend {
    font-family: "Lexend", sans-serif;
  }

  /* Always add: 
    px-14 py-3
  
  
  */
  .btn-active,
  .btn-outline {
    @apply transform rounded-lg bg-white text-center font-custom-lexend text-sm font-semibold transition-all duration-300;

    background-size: 100% 100%;
    background-position: top right;
  }

  .btn-active {
    @apply bg-gradient-to-l from-secondary to-primary text-white;
  }

  .btn-outline {
    @apply border-2 border-secondary bg-transparent text-secondary;
  }

  /* .btn-outline::before {
    content: "";
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    background-color: white;
    border-radius: 4px;
  } */

  .btn::after {
  }

  .btn-active:hover,
  .btn-outline:hover {
    transform: scale(1.01);
    /* transition-duration: 1000ms; */
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
